name: Deploy docker on ElasticBeanstalk
on: 
  workflow_dispatch: 
    inputs:
      actions:
        required: true
        type: choice
        options:
          - deploy
jobs:
  BuildDockerImage:
    runs-on: ubuntu-latest    
    steps:

      - name: Checkout 
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: login to Docker Hub
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
       
      - name: build and push
        uses: docker/build-push-action@v5
        with:
            context: .
            push: true
            tages: $IMAGE_TAGS
            file: Dockerfile


    
