name: Deploy docker on ElasticBeanstalk
on: 
  workflow_dispatch: 
    inputs:
      actions:
        required: true
        type: choice
        options:
          - deploy
jobs:

  BuildDockerImage:
    runs-on: ubuntu-latest    
    steps:

      - name: Checkout 
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: login to Docker Hub
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          logout: true
       
      - name: build and push
        uses: docker/build-push-action@v5
        with:
            context: .
            push: true
            tags: dahaba/react_app:latest
            file: Dockerfile

  DeployToAWS:
    runs-on: ubuntu-latest
    needs: BuildDockerImage
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: deployment to elastic beans talk
        uses: einaregilsson/beanstalk-deploy@v20
        with: 
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: react_app
          environment_name: reactenv
          version_label: react_ebs
          region: us-east-1
          deployment_package: deploy.zip



    
